body{
    margin:0;
    background:#111;
    font-family:'Cairo', sans-serif;
    color:white;
}

/* ===== INPUTS ===== */

.controls{
    position:fixed;
    top:20px;
    left:20px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.controls input{
    padding:10px;
    font-size:16px;
    border-radius:8px;
    border:none;
}

.controls button{
    padding:10px 15px;
    border:none;
    background:#e50914;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

/* ===== TABLE DESIGN ===== */

.standings{
    width:1080px;
    margin:auto;
    margin-top:120px;
    padding:60px;
    background:linear-gradient(180deg,#b30000,#7a0000);
}

h1,h2{
    text-align:center;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#a00000;
    overflow:hidden;
    border-radius:12px;
}

thead{
    background:#eee;
    color:#700000;
}

th,td{
    padding:18px;
    text-align:center;
}

td:nth-child(2){
    text-align:right;
    font-weight:bold;
}

/* المركز الأول */
.first{
    background:linear-gradient(90deg,#ffd700,#b8860b);
    color:#000;
    font-weight:900;
}